.contact-section {
  max-width: 75rem;
  width: 100%;
  margin: 3rem auto;
  text-align: center;
}
.contact-section h2 {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-primary);
}
.name,
.email,
.message {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  background-color: var(--color-bg-variant);
  outline: none;
}

.name:hover,
.email:hover,
.message:hover {
  border: 2px solid var(--color-primary);
}
.message::placeholder {
  color: rgba(255, 255, 255, 0.42);
}
.contactForm {
  margin: 2em 1em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.submitBtn {
  background: var(--color-primary);
  color: var(--color-bg-variant);
  margin: 2rem 0 1rem;
  padding: 0.75rem 5rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  font-weight: 650;
}
.submitBtn:hover {
  background-color: var(--color-bg);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  cursor: pointer;
}
.links {
  display: flex;
  flex-wrap: wrap;
}
.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;
}
