.intro {
  height: calc(100vh - 5rem);
  width: 100%;
  margin: 0 auto;
  max-width: 75rem;
  overflow: hidden;
  position: relative;
}
.bg {
  width: 40%;
  position: absolute;
  top: -6rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  /* transform: rotateY(180deg); */
}
@media screen and (max-width: 1000px) {
  .bg {
    width: fit-content;
  }
}
@media screen and (max-width: 480px) {
  .hello {
    font-size: 1.4rem;
  }
  .introText {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }
  .introName {
    font-size: 3.5rem;
  }
}
.introContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hello {
  font-size: 1.75rem;
  font-weight: 100;
}
.introName {
  color: var(--color-primary);
}
.introPara {
  font-size: medium;
  font-weight: 100;
  letter-spacing: 1px;
  max-width: 40rem;
}
.btn {
  background: white;
  margin: 2rem 0 1rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 2rem;
  font-weight: 650;
}
.btn:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}
