:root {
  --color-bg: #1f1f28;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
}
@font-face {
  font-family: myFont;
  src: url(../src/assets/Poppins/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-position: center;
  font-family: myFont;
}
body {
  background: var(--color-bg);
  background-image: url(./assets/bg-texture.png);
  line-height: 1.7;
  color: var(--color-white);
  overflow: hidden;
  overflow-y: scroll;
}
