:root {
  --color-bg: #1f1f28;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
}
.navbar {
  height: 5rem;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}
.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}
.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  transition: 0.4s ease;
}
.desktopMenuListItem:hover {
  color: var(--color-primary);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--color-primary);
}

.desktopMenuBtn {
  background: var(--color-white);
  color: black;
  border: none;
  padding: 0 1.5rem 0 0.5rem;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-weight: 650;
}
.desktopMenuImg {
  width: 1rem;
  height: 1rem;
  margin: 1rem;
}
.desktopMenuBtn:hover {
  background-color: var(--color-primary);
}
.active {
  color: var(--color-primary);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--color-primary);
}
.burger {
  width: 50px;
}
.burger {
  display: none;
  object-fit: cover;
  height: 1.8rem;
}
.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background-color: var(--color-primary-variant);
  border-radius: 1rem;
}
.listItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: var(--color-bg);
}
@media screen and (max-width: 720px) {
  .burger {
    display: flex;
  }
  .desktopMenu {
    display: none;
  }
  .desktopMenuBtn {
    display: none;
  }
}
